page-news {
    .head-text{
        background: #fff;
        color: #F26618;
        font-size: 28px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .new-shop {
        color: #F26618;
        margin-left: 10px;
        background: #dadada;
        padding: 5px 10px;
        border-radius: 15px;
    }
    .head-text-news {
        font-size: 24px;
        margin-left: 10px;
        margin-right: 10px;
    }
    p{
        color: #999;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1{
        font-size: 16px;
        font-weight: bold;
        margin-top: 0px;
        margin-right: 10px;
    }
    img{
        margin: auto;
    }
}
