page-search {
    .bg-search{
        background: #F26618;
        text-align: center;
        height: 60px;
        padding: 10px 10px;
    }
    .searchTab{
        background: #fff;
        width: 100%;
        border: none;
        text-align: center;
    }
    .top-btn {
        color: #fff;
        background: none;
        font-size: 14px;
    }
}
